.icon-user {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.toggle-menu {
    width: 48px;
    transition: width 0.3s;
}

.toggle-menu.active {
    width: 348px !important;
}

@media (min-width: 762px) {
    .toggle-menu {
        width: 128px !important;
        transition: width 0.3s;
    }
}